#game-title {
	width: 800px;
    height: 150px;
    overflow: hidden;
    position: relative;
	margin: 15px auto;
}

#game-title img{
	width: auto;
    height: 100%;
	left: 100px;
}


#game-root {
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 4px solid white;
    background: #4EC8CC;
    position: relative;
}

#game-root * {
    position: absolute;
}

#game-status {
    display: block;
    padding: 10px;
	min-height: 550px;
    height: 100%;
	max-height: 500px;
	width: 350px;
    overflow-y: scroll;
    border: 4px solid white;
    background: #4EC8CC;
}

#game-status div {
    margin: 10px;
}

.contain {
	background: #4EC8CC;
	padding: 20px;
	margin: 10px;
	
}