@font-face {
	font-family: Bariol-Regular;
	src: local('../font/Bariol-Regular'), url('../font/Bariol.woff') format('woff');
}

html {
    background: #F8A99B; 
	background: linear-gradient(#F8A99B, #4EC8CC); /* Standard syntax */
}

html, body {
    height: 100%;
	margin: 0;
}

#outer-wrap {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.wrap {
    display: table-cell;
	float: left;
}

p {
	font-family:Bariol-Regular;
	font-size: 16px;
	color: white;
}

strong {
	color: #FFF8DD;
}

i {
	color: #F0F0F0;
}